@{
    ViewData["Title"] = "Editar Usuários";
}

<div class="text-center"> 
    <h1 class="display-4">Editar usuário</h1>
</div>

<div style="display: flex; width: 100%; justify-content: center">


    <form style="display: flex; gap: 10px; flex-direction: column; width: 50%">

        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" placeholder="Digite nome do usuário:">
        </div>

        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" class="form-control" placeholder="Digite e-mail do usuário:">
        </div>

        <div class="form-group">
            <label for="celular">Celular</label>
            <input type="text" class="form-control" placeholder="Digite o celular do usuário:">
        </div>

        <button type="submit" class="btn btn-primary">Salvar alterações</button>

    </form>
</div>



