@{
    ViewData["Title"] = "Pág Inicial";
}

<div class="text-center">
    <h2 class="display-4">BEM VINDO(A) AO SISTEMA!</h2>
    <h3 class="display-6">Sistema de controle de usuários - Navegue pelo menu</h3>
    
</div>
